<%= form_for [:profile, @estimate] do |f| %>
  <% estimate_number = fetch_estimate_number %>

  <%= f.label :client_id, "Client" %>
  <%= f.text_field :client_id %>

  <%= f.label :estimate_number %>
  <%= f.number_field :estimate_number, value: estimate_number %>

  <%= f.label :po_number %>
  <%= f.text_field :po_number %>

  <%= f.label :date_issued %>
  <%= f.date_select :date_issued %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Tax</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :items do |builder| %>
        <%= render 'item_fields', f: builder %>
      <% end %>
      <tr>
        <td><%= link_to_add_fields "Add Item", f, :items %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.label :terms %>
  <%= f.text_area :terms %>

  <%= f.submit %>

<% end %>
