<h1 class="subtitle">Estimates</h1>
<%= link_to "+ New Estimate", new_profile_estimate_path, class: "btn" %>

<% @estimates.each do |e| %>
  <div class="estimate">
    <%= e.estimate_number %>
    <%= e.date_issued %>
    <%= e.discount %>
    <%= e.notes %>
    <%= e.po_number %>
    <%= e.terms %>

    <%= link_to "Edit", edit_profile_estimate_path(1, e) %>
    <%= link_to "Destroy", profile_estimate_path(1, e), method: :delete, confirm: 'Are you sure you want to delete this estimate?' %>
  </div>
<% end %>
