<div id="invoice">
  <h1>Invoice #<%= @invoice.invoice_number %></h1>
  <%= link_to "Printable Invoice (PDF)", profile_invoice_path(1, @invoice, format: "pdf") %>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Tax</th>
        <th>Line Total</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.items.each_with_index do |item, i| %>
        <tr>
          <th><%= i+1 %></th>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= number_to_percentage(item.tax, precision: 2) %></td>
          <td><%= number_to_currency(item.line_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h4 style="float: right;">Total Price: <%= number_to_currency(@invoice.total_price) %></h4>
</div>

