<% @page_title = @contact.full_name %>

<h1 class="subtitle no-pad"><%= @contact.full_name %></h1>
<%= link_to "Edit", edit_profile_contact_path(current_user, @contact) %>

<address>
  <% unless @contact.title.blank? || @contact.company.blank? %>
    <%= @contact.title %> at <%= @contact.company %><br>
  <% end %>
  <%= @contact.email %><br>
  <% @contact.phones.each do |p| %>
    <%= number_to_phone(p.number) %> - <%= p.location %><br>
  <% end %>
</address>

<h4 style="margin-top: 10px;">Notes</h4>
<%= render @notes %>

<h4 style="margin-top: 10px;">Add Note</h4>
<%= form_for [:profile, Note.new] do |f| %>

  <%= f.hidden_field :contact_id, value: @contact.id %>

  <%= f.label :content, "Note" %>
  <%= f.text_area :content, style: "width: 100%; height: 60px;" %>

  <%= f.submit %>

<% end %>

<%= link_to "Destroy", profile_contact_path(1, @contact), method: :delete, class: 'btn red' %>
