<div id="sidebar">
  <ul id="navigation">
    <li><%= link_to 'Activity', profile_activity_path(1) %>
    <li><%= link_to 'People', profile_contacts_path(1) %></li>
    <li><%= link_to 'Parts' %></li>
    <li><%= link_to 'Invoices' %></li>
    <li><%= link_to 'Estimates' %></li>
  </ul>
</div>
