<!DOCTYPE html>
<html>
<head>
  <title>DK/AMANS Valve</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header-pad"></div>
  <div id="header">
    <div class="container">
      <div id="site-logo">
        <% if current_user %>
          <h1><%= link_to "DK/AMANS Valve", root_url %></h1>
        <% else %>
          <h1><%= link_to "DK/AMANS Valve", root_url %></h1>
        <% end %>
      </div>
      <div id="user-nav">
        <% if user_signed_in? %>
          Logged in as <%= current_user.email %>
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %> |
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="profile">

      <%= render 'layouts/sidebar' %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>

    </div>

  </div>

</body>
</html>
